@font-face {
    font-family: geologica-variable, sans-serif;
    src: url(https://fonts.adobe.com/fonts/geologica-variable#fonts-section);
    font-style: normal;
    font-variation-settings: "CRSV" 0, "SHRP" 0, "slnt" 0, "wght" 100;
}